.animate-enter {
  opacity: 0.01;
}

.animate-enter.animate-enter-active {
  opacity: 1;
  transform: rotate(360deg);
}

.animate-leave {
  margin-left: 0;
  opacity: 1;
}

.animate-leave.animate-leave-active {
  margin-left: -1000px;
  opacity: 0.01;
  transition: opacity 1s ease-out;
}

.animate-appear {
  opacity: 0.01;
}

.animate-appear.animate-appear-active {
  opacity: 1;
  transition: opacity 2s ease-in;
}
