@import "sass/mixins";
@import "sass/colors";

@keyframes zoom {
    0% {
      background-size: 180%;
    }
    25% {
      background-size: 170%;
    }
    50% {
      background-size: 160%;
    }
    75%{
       background-size: 150%;
    }
    100% {
      background-size: 140%;
    }
}

.story {
  min-height: 480px;


  background-color: $navy;
  overflow: hidden;
  padding-bottom: 40px;
  .story-wrapper {
    width: 80%;
    // height: 600px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    // background-image: url('../img/lightpaperfibers.png');
    // background-repeat: repeat;
    background-color: white;
  }
  .prologue {
    padding-top: 60px;
    width: 50%;
    margin: auto;
    text-align: center;
    h4 {
      margin:0;
      color: $gold;
      font-size: 32px;
      font-family: 'Sacramento', cursive;
    }
    p {
      color: $navy;
    }
  }
  .photos {

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    .photo-wrapper{
      height: 150px;
      width: 150px;
      overflow: hidden;
      margin: 30px;
      .photo {
        height: 150px;
        width: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        @include background-size(180%);
        &:hover {
            @include animate(100ms linear zoom);
            @include background-size(130%);
        }
      }
      &:hover {
        border: 2px solid $gold;
        margin: 28px;
      }

    }
  }
}



.years {
  list-style: none;
  padding: 0;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  .year-wrapper {
    cursor: pointer;
    text-align: center;
    .year {
      &:hover {
          border-bottom: 2px solid $gold;
      }
      border-bottom: 2px;
      border-top: 2px;
    }
  }
  .current-year {
    color: $gold;
    font-weight: bolder;
    @include transition(100ms ease-in-out);
  }
  .year-direction {
      color: $gold;
  }
}

.ReactModal__Overlay {
    z-index: 2;
    background-color: rgba(0,0,0,0.7) !important;
}

.ReactModalPortal {
    max-height: 400px;
    width: auto;
    top: 80px;
    z-index: 3;
    .ReactModal__Content {
        max-height: 400px;
        height: auto;
        width: 60%;
        z-index: 3;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        border: none !important;
        background: none !important;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        img {
            height: 100%;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// smart phones
@media (min-width: 320px) and (max-width: 1080px) {
  .years {
    .year-wrapper {
      width: 30px;
      padding: 14px;
      margin-right: -1px;
    }
  }
}

// tablets & desktops
@media (min-width: 1081px) {
  .years{
    .year-wrapper {
      width: 40px;
      padding: 18px;
    }
  }
}
