@import "sass/mixins";
@import "sass/colors";

.story {
  min-height: 480px;


  background-color: $navy;
  overflow: hidden;
  padding-bottom: 40px;
  .story-wrapper {
    width: 80%;
    // height: 600px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/lightpaperfibers.png');
    background-repeat: repeat;
  }
  .prologue {
    padding-top: 60px;
    width: 50%;
    margin: auto;
    text-align: center;
    h4 {
      margin:0;
      color: $gold;
      font-size: 32px;
      font-family: 'Sacramento', cursive;
    }
    p {
      color: $navy;
    }
  }
  .photos {

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);
    .photo-wrapper{
      height: 150px;
      width: 150px;
      overflow: hidden;
      margin: 20px;
      .photo {
        height: 150px;
        width: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 180%;
        &:hover {
          border: 1px solid $gold;
        }
      }
    }
  }
}

.years {
  list-style: none;
  padding: 0;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  .year-wrapper {
    cursor: pointer;
    text-align: center;
    .year {
      &:hover {
          border-bottom: 2px solid $gold;
      }
      border-bottom: 2px;
      border-top: 2px;
    }
  }
  .current-year {
    color: $gold;
    font-weight: bolder;
    @include transition(100ms ease-in-out);
  }
  .year-direction {
      color: $gold;
  }
}

// smart phones
@media (min-width: 320px) and (max-width: 1080px) {
  .years {
    .year-wrapper {
      width: 30px;
      padding: 14px;
      margin-right: -1px;
    }
  }
}

// tablets & desktops
@media (min-width: 1081px) {
  .years{
    .year-wrapper {
      width: 40px;
      padding: 18px;
    }
  }
}
