.animate-right-enter {
  left: -1000px;
  opacity: 0.01; }

.animate-right-enter.animate-right-enter-active {
  left: 0px;
  opacity: 1;
  -webkit-transition: left 1s ease-out, opacity 1s ease-in;
  -moz-transition: left 1s ease-out, opacity 1s ease-in;
  -o-transition: left 1s ease-out, opacity 1s ease-in;
  -ms-transition: left 1s ease-out, opacity 1s ease-in;
  transition: left 1s ease-out, opacity 1s ease-in; }

.animate-right-leave {
  left: 0px;
  opacity: 1; }

.animate-right-leave.animate-right-leave-active {
  left: 1000px;
  opacity: 0.01;
  -webkit-transition: left 1s linear, opacity 1s ease-out;
  -moz-transition: left 1s linear, opacity 1s ease-out;
  -o-transition: left 1s linear, opacity 1s ease-out;
  -ms-transition: left 1s linear, opacity 1s ease-out;
  transition: left 1s linear, opacity 1s ease-out; }

.animate-left-enter {
  left: 1000px;
  opacity: 0.01; }

.animate-left-enter.animate-left-enter-active {
  left: 0px;
  opacity: 1;
  -webkit-transition: left 1s ease-out, opacity 1s ease-in;
  -moz-transition: left 1s ease-out, opacity 1s ease-in;
  -o-transition: left 1s ease-out, opacity 1s ease-in;
  -ms-transition: left 1s ease-out, opacity 1s ease-in;
  transition: left 1s ease-out, opacity 1s ease-in; }

.animate-left-leave {
  left: 0px;
  opacity: 1; }

.animate-left-leave.animate-left-leave-active {
  left: -1000px;
  opacity: 0.01;
  -webkit-transition: left 1s linear, opacity 1s ease-out;
  -moz-transition: left 1s linear, opacity 1s ease-out;
  -o-transition: left 1s linear, opacity 1s ease-out;
  -ms-transition: left 1s linear, opacity 1s ease-out;
  transition: left 1s linear, opacity 1s ease-out; }

.animate-appear {
  opacity: 0.01; }

.animate-appear.animate-appear-active {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in; }
