.animate-appear {
  opacity: 0.01; }

.animate-appear.animate-appear-active {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in; }
