@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.animate-right-enter {
  left: -1000px;
  opacity: 0.01; }

.animate-right-enter.animate-right-enter-active {
  left: 0px;
  opacity: 1;
  -webkit-transition: left 1s ease-out, opacity 1s ease-in;
  -moz-transition: left 1s ease-out, opacity 1s ease-in;
  -o-transition: left 1s ease-out, opacity 1s ease-in;
  -ms-transition: left 1s ease-out, opacity 1s ease-in;
  transition: left 1s ease-out, opacity 1s ease-in; }

.animate-right-leave {
  left: 0px;
  opacity: 1; }

.animate-right-leave.animate-right-leave-active {
  left: 1000px;
  opacity: 0.01;
  -webkit-transition: left 1s linear, opacity 1s ease-out;
  -moz-transition: left 1s linear, opacity 1s ease-out;
  -o-transition: left 1s linear, opacity 1s ease-out;
  -ms-transition: left 1s linear, opacity 1s ease-out;
  transition: left 1s linear, opacity 1s ease-out; }

.animate-left-enter {
  left: 1000px;
  opacity: 0.01; }

.animate-left-enter.animate-left-enter-active {
  left: 0px;
  opacity: 1;
  -webkit-transition: left 1s ease-out, opacity 1s ease-in;
  -moz-transition: left 1s ease-out, opacity 1s ease-in;
  -o-transition: left 1s ease-out, opacity 1s ease-in;
  -ms-transition: left 1s ease-out, opacity 1s ease-in;
  transition: left 1s ease-out, opacity 1s ease-in; }

.animate-left-leave {
  left: 0px;
  opacity: 1; }

.animate-left-leave.animate-left-leave-active {
  left: -1000px;
  opacity: 0.01;
  -webkit-transition: left 1s linear, opacity 1s ease-out;
  -moz-transition: left 1s linear, opacity 1s ease-out;
  -o-transition: left 1s linear, opacity 1s ease-out;
  -ms-transition: left 1s linear, opacity 1s ease-out;
  transition: left 1s linear, opacity 1s ease-out; }

.animate-appear {
  opacity: 0.01; }

.animate-appear.animate-appear-active {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in; }

.navbar {
  z-index: 1;
  background: white;
  font-family: 'Sacramento', cursive;
  font-size: 24px;
  height: 45px;
  width: 100%; }
  .navbar.stick {
    position: fixed;
    top: 0;
    margin-top: 0; }
  .navbar ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .navbar ul li {
      padding: 5px 40px; }
      .navbar ul li a {
        color: inherit;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px; }
        .navbar ul li a:hover {
          border-bottom: 2px solid #D4AF37; }
    .navbar ul .active {
      background-color: #002b5c;
      color: #D4AF37; }

body {
  color: #002b5c;
  margin: 0px;
  font-family: 'Open Sans', sans-serif; }

.hero {
  height: calc(100vh - 45px);
  width: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in; }
  .hero.fade-out {
    opacity: 0.01; }
  .hero.first {
    background: url("../img/engagement_photo1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .hero.second {
    background: url("../img/engagement_photo2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .hero.third {
    background: url("../img/engagement_photo3.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .hero.fourth {
    background: url("../img/engagement_photo4.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .hero.fifth {
    background: url("../img/engagement_photo5.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .hero.sixth {
    background: url("../img/engagement_photo6.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .hero.seventh {
    background: url("../img/engagement_photo7.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .hero.eighth {
    background: url("../img/engagement_photo8.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.wedding {
  padding-top: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .wedding ul {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none; }
    .wedding ul li {
      text-align: center; }

.venue {
  padding-top: 2px; }
  .venue img {
    width: 100%; }
  .venue .content-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%; }
    .venue .content-wrapper iframe {
      width: 100%;
      height: 480px;
      border: none; }

.story {
  height: 100vh;
  min-height: 480px;
  background-color: #002b5c;
  overflow: hidden; }
  .story .photos {
    height: 360px;
    padding-top: 80px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .story .photos .photo-wrapper {
      opacity: 1;
      position: relative;
      -webkit-transition: opacity 1s linear;
      -moz-transition: opacity 1s linear;
      -o-transition: opacity 1s linear;
      -ms-transition: opacity 1s linear;
      transition: opacity 1s linear; }
      .story .photos .photo-wrapper.fade-out {
        opacity: 0.01; }
      .story .photos .photo-wrapper.rotate-left {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg); }
      .story .photos .photo-wrapper.rotate-slight-left {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg); }
      .story .photos .photo-wrapper.rotate-major-left {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg); }
      .story .photos .photo-wrapper.rotate-right {
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg); }
      .story .photos .photo-wrapper.rotate-slight-right {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg); }
      .story .photos .photo-wrapper.rotate-major-right {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg); }
      .story .photos .photo-wrapper .photo {
        height: auto;
        width: auto;
        max-width: 300px;
        max-height: 300px;
        overflow: hidden;
        padding: 10px;
        background-color: white;
        border-radius: 10px; }
  .story .years-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 100%; }

.years {
  list-style: none; }
  .years .current-year {
    background: #002b5c;
    color: #D4AF37;
    z-index: 1;
    float: left;
    position: relative;
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    -ms-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out; }
  .years .year-wrapper {
    float: left;
    cursor: pointer;
    background: white; }
    .years .year-wrapper .year {
      border-bottom: 2px;
      border-top: 2px; }
      .years .year-wrapper .year:hover {
        border-bottom: 2px solid #D4AF37; }
    .years .year-wrapper:first-child {
      border-top-left-radius: 80px;
      border-bottom-left-radius: 80px; }
    .years .year-wrapper:nth-last-child(2) {
      border-top-right-radius: 80px;
      border-bottom-right-radius: 80px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .years .current-year {
    width: 38px;
    padding: 12px 18px 11px 14px;
    font-size: 22px;
    margin-top: -1px; }
  .years .year-wrapper {
    width: 30px;
    padding: 14px;
    margin-right: -1px; } }

@media only screen and (min-device-width: 737px) {
  .years .current-year {
    width: 50px;
    padding: 15px 18px 14px 18px;
    font-size: 24px; }
  .years .year-wrapper {
    width: 40px;
    padding: 18px; } }
