.story {
  height: 100vh;
  min-height: 480px;
  background-color: #002b5c;
  overflow: hidden; }
  .story .photos {
    height: 360px;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-left: 0;
    opacity: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-transition: margin-left 1s linear, opacity 800ms linear;
    -moz-transition: margin-left 1s linear, opacity 800ms linear;
    -o-transition: margin-left 1s linear, opacity 800ms linear;
    -ms-transition: margin-left 1s linear, opacity 800ms linear;
    transition: margin-left 1s linear, opacity 800ms linear; }
    .story .photos.fade-out {
      opacity: 0.001; }
      .story .photos.fade-out.left {
        margin-left: -2000px; }
      .story .photos.fade-out.right {
        margin-left: 2000px; }
    .story .photos .photo-wrapper {
      position: relative; }
      .story .photos .photo-wrapper.rotate-left {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg); }
      .story .photos .photo-wrapper.rotate-slight-left {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg); }
      .story .photos .photo-wrapper.rotate-major-left {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg); }
      .story .photos .photo-wrapper.rotate-right {
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg); }
      .story .photos .photo-wrapper.rotate-slight-right {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg); }
      .story .photos .photo-wrapper.rotate-major-right {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg); }
      .story .photos .photo-wrapper .photo {
        height: auto;
        width: auto;
        max-width: 300px;
        max-height: 300px;
        overflow: hidden;
        padding: 10px;
        background-color: white;
        border-radius: 10px; }
  .story .years-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 100%; }

.years {
  list-style: none; }
  .years .current-year {
    background: #002b5c;
    color: #D4AF37;
    z-index: 1;
    float: left;
    position: relative;
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    -ms-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out; }
  .years .year-wrapper {
    float: left;
    cursor: pointer;
    background: white; }
    .years .year-wrapper .year {
      border-bottom: 2px;
      border-top: 2px; }
      .years .year-wrapper .year:hover {
        border-bottom: 2px solid #D4AF37; }
    .years .year-wrapper:first-child {
      border-top-left-radius: 80px;
      border-bottom-left-radius: 80px; }
    .years .year-wrapper:nth-last-child(2) {
      border-top-right-radius: 80px;
      border-bottom-right-radius: 80px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .years .current-year {
    width: 38px;
    padding: 12px 18px 11px 14px;
    font-size: 22px;
    margin-top: -1px; }
  .years .year-wrapper {
    width: 30px;
    padding: 14px;
    margin-right: -1px; } }

@media only screen and (min-device-width: 737px) {
  .years .current-year {
    width: 50px;
    padding: 12px 18px 14px 17px;
    font-size: 24px; }
  .years .year-wrapper {
    width: 40px;
    padding: 18px; } }
