@keyframes zoom {
  0% {
    background-size: 180%; }
  25% {
    background-size: 170%; }
  50% {
    background-size: 160%; }
  75% {
    background-size: 150%; }
  100% {
    background-size: 140%; } }

.story {
  min-height: 480px;
  background-color: #002b5c;
  overflow: hidden;
  padding-bottom: 40px; }
  .story .story-wrapper {
    width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: white; }
  .story .prologue {
    padding-top: 60px;
    width: 50%;
    margin: auto;
    text-align: center; }
    .story .prologue h4 {
      margin: 0;
      color: #D4AF37;
      font-size: 32px;
      font-family: 'Sacramento', cursive; }
    .story .prologue p {
      color: #002b5c; }
  .story .photos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }
    .story .photos .photo-wrapper {
      height: 150px;
      width: 150px;
      overflow: hidden;
      margin: 30px; }
      .story .photos .photo-wrapper .photo {
        height: 150px;
        width: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: 180%;
        -moz-background-size: 180%;
        -o-background-size: 180%;
        background-size: 180%; }
        .story .photos .photo-wrapper .photo:hover {
          -webkit-animation: 100ms linear zoom;
          -moz-animation: 100ms linear zoom;
          -o-animation: 100ms linear zoom;
          animation: 100ms linear zoom;
          -webkit-background-size: 130%;
          -moz-background-size: 130%;
          -o-background-size: 130%;
          background-size: 130%; }
      .story .photos .photo-wrapper:hover {
        border: 2px solid #D4AF37;
        margin: 28px; }

.years {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto; }
  .years .year-wrapper {
    cursor: pointer;
    text-align: center; }
    .years .year-wrapper .year {
      border-bottom: 2px;
      border-top: 2px; }
      .years .year-wrapper .year:hover {
        border-bottom: 2px solid #D4AF37; }
  .years .current-year {
    color: #D4AF37;
    font-weight: bolder;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    -o-transition: 100ms ease-in-out;
    -ms-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out; }
  .years .year-direction {
    color: #D4AF37; }

.ReactModal__Overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7) !important; }

.ReactModalPortal {
  max-height: 400px;
  width: auto;
  top: 80px;
  z-index: 3; }
  .ReactModalPortal .ReactModal__Content {
    max-height: 400px;
    height: auto;
    width: 50%;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: none !important;
    background: none !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .ReactModalPortal .ReactModal__Content img {
      height: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto; }

@media (min-width: 320px) and (max-width: 1080px) {
  .years .year-wrapper {
    width: 30px;
    padding: 14px;
    margin-right: -1px; } }

@media (min-width: 1081px) {
  .years .year-wrapper {
    width: 40px;
    padding: 18px; } }
