.story {
  min-height: 480px;
  background-color: #002b5c;
  overflow: hidden;
  padding-bottom: 40px; }
  .story .story-wrapper {
    width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/lightpaperfibers.png");
    background-repeat: repeat; }
  .story .prologue {
    padding-top: 60px;
    width: 50%;
    margin: auto;
    text-align: center; }
    .story .prologue h4 {
      margin: 0;
      color: #D4AF37;
      font-size: 32px;
      font-family: 'Sacramento', cursive; }
    .story .prologue p {
      color: #002b5c; }
  .story .photos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .story .photos .photo-wrapper {
      position: relative; }
      .story .photos .photo-wrapper .photo {
        background-color: white;
        height: auto;
        width: auto;
        max-width: 300px;
        max-height: 300px;
        overflow: hidden;
        padding: 40px;
        border: 1px solid #D4AF37;
        margin: 20px; }

.years {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 100%; }
  .years .year-wrapper {
    cursor: pointer;
    text-align: center; }
    .years .year-wrapper .year {
      border-bottom: 2px;
      border-top: 2px; }
      .years .year-wrapper .year:hover {
        border-bottom: 2px solid #D4AF37; }
  .years .current-year {
    color: #D4AF37;
    font-weight: bolder;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    -o-transition: 100ms ease-in-out;
    -ms-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out; }
  .years .year-direction {
    color: #D4AF37; }

@media (min-width: 320px) and (max-width: 1080px) {
  .years .year-wrapper {
    width: 30px;
    padding: 14px;
    margin-right: -1px; } }

@media (min-width: 1081px) {
  .years .year-wrapper {
    width: 40px;
    padding: 18px; } }
